@import url("/common.css");


.logo {
    height: 50px;
    margin-left: 100px;
}

#photographer-info {
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;;
}

#name {
    font-size: 3rem;
    color: #D3573C;
    margin: 0;
}

#location {
    font-size: 1rem;
    color: #7b2a18;
    font-style: normal;
    margin-bottom: 0.5rem;
}

#tagline {
    font-size: 0.8rem;
    color: #5a5a5a;
    font-style: normal;
}


#avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#sort-label {
    margin-right: 1rem;
}

#sort {
    font-family: inherit;
    color: white;
    background-color: #7b2a18;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

/*
#filter option {
    background-color: #7b2a18;
    color: blue;
    outline: 2px solid #7b2a18;
}*/



#photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

#photo-grid a {
    text-decoration: none;
}

#photo-grid figure {
    margin: 0;
}

#photo-grid .media {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

#photo-grid .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 1.2rem;
}

#likesBtn {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

/*
#likesBtn[data-liked="true"] {
    color: #D3573C;
}*/

#likesBtn:hover {
    color: #D3573C;
}

#sticky {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: auto;
    border-radius: 5px 5px 0 0;
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #DB8876;
}

#contact_dialog {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    background-color: #DB8876;
    padding: 35px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#contact_dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.694);
    backdrop-filter: blur(10px);
}


#contact_dialog #close_btn {
    border: none;
    background-color: transparent;  
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

#contact_dialog #close_btn img {
    width: 100%;
    height: 100%;
}

#contact_dialog header h2 {
    font-size: 2rem;
    margin: 0;
}

#contact_dialog header p {
    font-size: 2rem;
    margin-top: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 1.5rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 50px;
    font-size: large;
    border: none;
    border-radius: 5px;
    padding: 0 1rem;
    box-sizing: border-box;
}

form textarea {
    width: 100%;
    height: 100px;
    font-size: large;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    box-sizing: border-box;
}