/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    cursor: pointer;
}


/* Style The Dropdown Button */
.dropbtn {
    background-color: #7b2a18;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    width: 130px;
    text-align: left;
    box-sizing: border-box;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 0;
    color: white;
    background-color: #7b2a18;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 16px;
    margin: 0;
    z-index: 1;
    width: 130px;
    box-sizing: border-box;
}



/* Buttons inside the dropdown */
.dropdown-content button {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* Separator */
hr {
    margin: 0;
    border: 0.5px solid white;
    color: white;
}

/* Chevron */
.chevron {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
    background-color: #7b2a18;
    z-index: 10;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.dropdown-content:hover ~ .chevron {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: rotate(180deg) translateY(50%);
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
